[submodule "abingham/local/codesearch"]
	path = abingham/local/codesearch
	url = https://github.com/abingham/codesearch.el.git
[submodule "abingham/local/wilt"]
	path = abingham/local/wilt
	url = https://github.com/sixty-north/emacs-wilt.git

[submodule "abingham/local/therapy"]
	path = abingham/local/therapy
	url = https://github.com/abingham/therapy.git
