[submodule "abingham/local/wilt"]
	path = abingham/local/wilt
	url = https://github.com/sixty-north/emacs-wilt.git

[submodule "abingham/local/traad"]
	path = abingham/local/traad
	url = https://github.com/abingham/emacs-traad
[submodule "abingham/local/emacs-codesearch"]
	path = abingham/local/emacs-codesearch
	url = https://github.com/abingham/emacs-codesearch
[submodule "abingham/local/outline-toc"]
	path = abingham/local/outline-toc
	url = https://github.com/abingham/outline-toc.el.git
[submodule "abingham/local/emacs-ultan"]
	path = abingham/local/emacs-ultan
	url = http://github.com/abingham/emacs-ultan
